In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("E:/csv file/heart.csv")

In [3]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [4]:
y=df["target"]

In [5]:
x=df.drop("target",axis=1)

In [6]:
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2

In [7]:
x.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
dtype: int64

In [8]:
y.isna().sum()

0

In [9]:
x.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
dtype: object

In [10]:
type(x)

pandas.core.frame.DataFrame

In [11]:
x.shape

(1025, 13)

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_tes=train_test_split(x,y,test_size=0.3,random_state=42,stratify=y)

In [14]:
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2

In [15]:
x.shape

(1025, 13)

In [16]:
from sklearn.preprocessing import MinMaxScaler

In [17]:
Scaler=MinMaxScaler()

In [18]:
x_train=Scaler.fit_transform(x_train)

In [19]:
x_test=Scaler.transform(x_test)

In [39]:
from sklearn.ensemble import RandomForestRegressor

In [45]:
forest=RandomForestRegressor(oob_score=True)

In [46]:
forest.fit(x_train,y_train)

RandomForestRegressor(oob_score=True)

In [47]:
forest.score(x_train,y_train)

0.989778596455712

In [50]:
forest.oob_score_

0.9269471293099991